<form [formGroup] = "angForm" (ngSubmit)="onFormSubmit()">
    <div formArrayName="names">
        
            <mat-grid-list cols="3" rowHeight="3:1">
                <div *ngFor="let name of names.controls; index as idx" class="form-group">
                    <mat-grid-tile><input [formControlName]="idx" (keyup)="addNumberField()" placeholder="Enter a Number" class="form-control" /></mat-grid-tile>
                </div>
            </mat-grid-list>

    </div>
</form>